categories_places365.txt
resnet18_places365.pth.tar

/venv

# Vercel deployment files
.vercel/

# Node modules
node_modules/

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Build directories (if applicable)
build/
dist/

# Temporary files
*.log

# Miscellaneous files that don't need to be tracked
goals.txt
oldCode.txt
remainingGoals.txt
.vercel