body {
  font-family: 'Satoshi', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

#post-title-and-content-section {
  background-color: white;
  padding: 20px;
  margin: 20px 20px 20px 200px; /* Top, Right, Bottom, Left */
  max-width: 800px;
  border-radius: 8px;
  border: 1px solid #e9ecef;
}

#post-title-div {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #495057;
}

#post-content-div {
  font-size: 18px;
  max-width: 800px; /* Limits the width of the content */
  margin: 0 auto; /* Centers the content horizontally */
  padding: 0; /* Removes padding to allow text to start on the left */
  line-height: 1.6; /* Improves readability */
  white-space: pre-wrap; /* Preserves spaces and line breaks */
  color: #495057;
}

#post-content-div p {
  margin: 1em 0; /* Adds space between paragraphs */
  text-indent: 20px; /* Indents the first line of each paragraph */
}

#post-new-comment-box {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 20px 0;
  border: 2px solid #e9ecef;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background: white;
  color: #495057;
}

#post-new-comment-box:focus {
  outline: none;
  border-color: #b330ff;
  box-shadow: 0 0 0 3px rgba(179, 48, 255, 0.1);
}

#submit-comment-button {
  padding: 10px 20px;
  background-color: #b330ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Satoshi', sans-serif;
  transition: background-color 0.3s ease;
}

#submit-comment-button:hover {
  background-color: #8a2be2;
}

.comments-section {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #e9ecef;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e9ecef;
}

.comment:last-child {
  border-bottom: none;
}

.comment-author {
  font-weight: bold;
  margin-bottom: 5px;
  color: #495057;
}

.comment-text {
  font-size: 16px;
  color: #495057;
}

#post-title-div {
  font-size: 2rem; /* Larger font size for the title */
  font-weight: bold; /* Bold font weight */
  color: #495057; /* Dark grey text color */
  margin-bottom: 10px;
}

#post-content-div {
  font-size: 1.2rem; /* Medium font size for the content */
  color: #495057; /* Lighter grey text color */
  margin-top: 10px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #b330ff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Add this CSS for the highlight effect */
.highlight {
  background-color: rgba(179, 48, 255, 0.2);
  animation: fadeHighlight 2s forwards;
}

@keyframes fadeHighlight {
  0% {
    background-color: rgba(179, 48, 255, 0.2);
  }
  100% {
    background-color: transparent;
  }
}

#comments-section-title {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  color: #495057;
}

#article-image {
  max-width: 100%;  /* Image will fit within the page width */
  height: auto;     /* Maintain aspect ratio */
  display: block;   /* Remove extra space */
  margin: 0 auto;   /* Center the image */
}
